.body{
  background-color: gray
}

.panel{
  background-color: pink;
  width: 20%;
  height: 100%;
  float: left;
}

.row{
  background-color: lightgrey
}
.col-sm-5{
  background-color: orange
}

.sidebar{
  background-color: lightgrey;
  width: 20%;
  height: 100%;
  float: left;
}

#panel1{
  background-color: lightblue;
  width: 400px;
}

#panel2{
  background-color: #e6fff2;
  width: 400px;
}
